/* ===== HEADER ===== */
header{
  background:#d8b98a;
  padding:20px 0 10px;
  display:flex;
  justify-content:center;
}

.header-inner{
  max-width:1000px;
  width:100%;
  display:flex;
  justify-content:center;
}

header img{
  max-height:90px;
  width:auto;
  display:block;
}

/* ===== MENU ===== */
nav{
  background:#7a3e1d;
}

.nav-inner{
  max-width:1000px;
  margin:0 auto;
  display:flex;
  justify-content:center;
  gap:22px;
  padding:12px 10px;
}

nav a{
  color:#fff;
  text-decoration:none;
  font-weight:bold;
  white-space:nowrap;
}

nav a.active{
  text-decoration:underline;
}
